body{
	background-image:url("bg.jpg");
}

td
{
	width:100px;
	height:100px;
	padding:0px;
	margin:0px;
	background:#FFFFFF;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	font-family: sans-sarif;
	color:black;
	border: 2px solid #000000;
	

}
.page-header{
	

	border-color: #bce8f1;
	padding: 10px 15px;
	margin-bottom:1%;
	border-bottom-color: #ffffff;
	line-height: 1.42857;
	color:#ffffff;
	font-weight: bold;
	text-align: center;
	background-color: #000000;
}


.choosebg{
	padding:1%;
	font-family: Arial, Georgia, sans-serif;
	line-height: 1.25em;
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
}

#c0 {
	background:url('luigi.jpg') 0 0 no-repeat;
}

#c1 {
	background:url('luigi.jpg') -100px 0  no-repeat;
}
#c2 {
	background:url('luigi.jpg') -200px 0  no-repeat;
}
#c3 {
	background:url('luigi.jpg') -300px 0  no-repeat;
}
#c4 {
	background:url('luigi.jpg') 0 -100px  no-repeat;
}
#c5 {
	background:url('luigi.jpg') -100px -100px  no-repeat;
}
#c6 {
	background:url('luigi.jpg') -200px -100px  no-repeat;
}
#c7 {
	background:url('luigi.jpg') -300px -100px  no-repeat;
}
#c8 {
	background:url('luigi.jpg') 0 -200px  no-repeat;
}
#c9 {
	background:url('luigi.jpg') -100px -200px  no-repeat;
}
#c10 {
	background:url('luigi.jpg') -200px -200px  no-repeat;
}
#c11 {
	background:url('luigi.jpg') -300px -200px  no-repeat;
}
#c12 {
	background:url('luigi.jpg') 0 -300px  no-repeat;
}
#c13 {
	background:url('luigi.jpg') -100px -300px  no-repeat;
}
#c14 {
	background:url('luigi.jpg') -200px -300px  no-repeat;
}
#c15{
	background:url('luigi.jpg') -300px -300px  no-repeat;

}

.highlightTile {
    border: 2px solid red;
    text-decoration: underline;
    color:#006600;
}
td{
	transition: all .2s ease-in-out;
	
}
td:hover{
    width: 50px;
    height: 50px;
	transform: scale(1.1);
   
}
.button {
	background-color: #000000;
	border: 2px solid #f44336;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
	border-radius:12px;
    display: inline-block;
    font-size: 16px;
	color:#ffffff;
	font-weight:bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	} /* Red */ 